@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.home__swiper-container .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
